Package: librc_math
Version: 1.0.0
Section: base
Priority: optional
Architecture: aarch64
Depends:
Maintainer: James Strawson <james@modalai.com>
Description: ModalAI library allowing apps processor access to accessory serial ports
